.whole{

    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;

}

.container{

    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    border: solid 2px lightblue;
    
}

.counter-container{

    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.total-counter{

    color: blue;
}

.remaining-counter{

    color: blue;
}